@font-face {
    font-family: "AlphaClouds";
    src: url('/fonts/AlphaClouds.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cotton Cloud";
    src: url('/fonts/Cotton Cloud.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CoffeCake";
    src: url('/fonts/CoffeCake.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comfy Feeling";
    src: url('/fonts/Comfy Feeling.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.background {
    background-image: url('/cloudy.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.backgroundSquare {
    width: 80%;
    height: 30vh; 
    background-color: rgb(254, 253, 250, 0.5); 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    border-radius: 12px; 
    font-family: "Comfy Feeling", sans-serif;
}

.landingPageTitle {
    color: white; 
    font-size: 3rem; 
    text-align: center; 
    font-family: "Cotton Cloud", sans-serif;
}


.landingPageWSubTitle {
    color: white; 
    font-size: 3rem; 
    text-align: center; 
    font-family: "Cotton Cloud", sans-serif;
}

.buttonGroup {
    display: flex;
    gap: 10px; /* Adjust the space between the buttons */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 20px; /* Add some space between buttons and the text above */
  }
  
  .landingPageButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color:rgb(255, 139, 72);
    border-radius: 12px; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
    font-family: "Comfy Feeling", sans-serif;
  }

  .landingPageButton:hover {
    background-color:rgb(187, 101, 51);
  }

  .landingPageButton:active {
    background-color:rgb(255, 139, 72);
  }