.calendarContainer {
    position: fixed;
    height: 65%;
    width: 60%;
    padding: 10px;
}

.tripCalendar {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

.calendarContainer {
    flex: 1; /* Allow it to grow */
    min-height: 80vh; /* Minimum height */
    padding: 10px;
    overflow: auto; /* Allow scrolling if needed */
}
